/***************************************
GENERAL
****************************************/

body {
  margin: 0;
  color: #222222;
  font-size: 1em;
  font-family: "Raleway", "Helvetica Neue", sans-serif;
}

/***************************************
SECTIONS
****************************************/

#about-me {
  background-image: url("http://i.imgur.com/CB9brI5.jpg");
  background-repeat: repeat;
  background-position: center right;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}

.intro,
.where-Im-from,
.more-about-me {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  text-align: left;
}

.bold {
  font-weight: bold;
}

.intro > p,
.where-Im-from > p,
.more-about-me > p {
  font-weight: 300;
  letter-spacing: 0.05em;
}

section > h1 {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 50px;
  padding-top: 30px;
}

.more-about-me > h2 {
  font-size: 1.2em;
  font-family: "Gentium Book Basic";
  font-weight: bold;
  color: #c39f27;
}

/***************************************
FOOTER
****************************************/

.content-footer {
  margin-top: 8em;
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: #ffcf33;
}

.content-footer > p {
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.05em;
  font-family: "Open Sans"
}

footer > ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

footer ul li {
  list-style-type: none;
  display: inline;
}

.content-footer a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

a:hover {
  color: #000;
}
