/* media query is a set of conditions in which the code inside will be executed*/

/*desktop first approach*/

/*ipad lanscape / small laptop*/
@media only screen and (max-width: 1024px) {
  #main-nav .nav ul li {
    border-top: 1px solid #FDEECF;
  }

  #container .projects ul li {
    /* border: 1px solid #fff; */
    width: 45%;
}

/*ipad potrait*/
@media only screen and (max-width: 768px) {
  #container .projects ul li {
    /* border: 1px solid #fff; */
    width: 70%;
}

}

/*iPhone landscape*/
@media only screen and (max-width: 480px) {

  #mast-heading {
    height: 540px;
  }
  .main-heading h1 {
    font-size: 2em;
  }
  .sub-heading p {
    font-size: 0.75em;
  }
  .social .icons {
    width: 70px;
  }
  hr {
    width: 50%;
  }
  #main-nav .nav ul li {
    display: block;
  }
  .masthead {
    padding: 3em 0;
  }
  .masthead-heading {
    font-size: 3em;
  }
  .intro,
  .where-Im-from,
  .more-about-me,
  .content-footer {
    font-size: 0.5em;
  }
  #container .projects ul li {
    /* border: 1px solid #fff; */
    width: 90%;
  }
}

/*iPhone portrait*/
@media only screen and (max-width: 320px) {

  #container .projects ul li {
    /* border: 1px solid #fff; */
    width: 99%;
  }
}
